body {
  background-color: hsl(0, 0%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px 5px 70px 5px;
  width: fit-content;
}

.form {
  display: flex;
  justify-content: left;
  flex-direction: row;
  width: 100%;
}
.box-30 {
  width: 20%;
}

label {
  padding: 5px;
  margin: 5px;
  width: 30px;
  color: hsl(0, 1%, 44%);
}

input {
  color: hsl(0, 0%, 86%);
  padding: 5px;
  margin: 5px;
  width: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
